API_KEY=
API_SECRET=
PAPER_MODE=true
SYMBOL=BTCUSDT
TIMEFRAME=5m
LOG_LEVEL=INFO
KILL_SWITCH=false
HISTORY_LIMIT=600
POLL_INTERVAL_SECONDS=2
REQUEST_TIMEOUT_SECONDS=20
RETRY_SLEEP_SECONDS=3
LOOP_ERROR_SLEEP_SECONDS=5
INITIAL_CASH=10000
FEE_RATE=0.0004
SLIPPAGE_PCT=0.0002
PRICE_STEP=0.10
QUANTITY_STEP=0.00001
MIN_QUANTITY=0.00001
EMA_FAST=20
EMA_SLOW=200
ATR_PERIOD=14
VOLUME_WINDOW=20
SWING_WINDOW=10
SLOPE_LOOKBACK=10
PULLBACK_MIN_PCT=0.003
PULLBACK_MAX_PCT=0.03
MAX_CLOSE_ABOVE_FAST_EMA_PCT=0.01
MIN_VOLUME_RATIO=1.0
MIN_ATR_PCT=0.002
MAX_ATR_PCT=0.08
USE_BREAKOUT_TRIGGER=true
RISK_PER_TRADE=0.01
RR_TARGET=2.0
ATR_STOP_MULT=1.5
MAX_BARS_IN_TRADE=100
STRATEGY_DEBUG=false
